Source: avalon3
Section: news
Priority: optional
Maintainer: Anton Batenev <antonbatenev@yandex.ru>
Build-Depends: debhelper (>= 7.0.50~), lsb-release, zlib1g-dev, libaspell-dev,
 qt6-base-dev, qt6-base-dev-tools
Standards-Version: 3.9.4
Vcs-Git: https://github.com/abbat/avalon.git
Vcs-Browser: https://github.com/abbat/avalon
Homepage: https://github.com/abbat/avalon

Package: avalon3
Conflicts: avalon, avalon2
Architecture: any
Suggests: graphviz
Recommends: aspell-ru, aspell-en
Depends: ${misc:Depends}, ${shlibs:Depends}, libqt6sql6-sqlite
Description: RSDN offline client
 Offile client for Russian Software Developer Network

Package: avalon3-dbg
Section: debug
Priority: extra
Depends: avalon3 (= ${binary:Version}), ${misc:Depends}
Architecture: any
Description: Debug symbols for avalon
 Offile client for Russian Software Developer Network
