#!/usr/bin/make -f
# -*- makefile -*-

override_dh_auto_clean:
	if [ -f Makefile ]; then make clean; fi
	rm -f Makefile
	rm -f Makefile.Debug
	rm -f Makefile.Release
	rm -f avalon.pro
	rm -f avalon

override_dh_auto_configure:
	printf '%s\n' \
		'CONFIG += release' \
		'QT += network sql core widgets' \
		'LIBS += -laspell -lz' \
		'DEFINES += AVALON_TEXT_BROWSER AVALON_PACKAGE' \
		'INCLUDEPATH += $(CURDIR)/src' \
		'TEMPLATE = app' \
		'TARGET = avalon' \
		'SOURCES += $$$$files($(CURDIR)/src/*.cpp, true)' \
		'HEADERS += $$$$files($(CURDIR)/src/*.h, true)' \
		'RESOURCES += $(CURDIR)/src/resource.qrc' > avalon.pro
	qmake6 avalon.pro

override_dh_auto_test:
	/bin/true

override_dh_strip:
	dh_strip --dbg-package=avalon3-dbg

%:
	dh $@ --parallel
